<tr class="blck" *ngFor="let question of questions">
<label for="sex">{{question.name}} </label>
<select [disabled]="disabled" [(ngModel)]="question.answerId" [ngModelOptions]="{standalone: true}">
    <option [selected]="question.answerId == option.id" *ngFor="let option of question.options" value="{{option.id}}">{{option.name}}</option>
    </select>
</tr>
    
<div *ngIf="disabled; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><button class="update2 btn-primary" (click)="edit()">Edit</button></ng-template>
<ng-template #elseBlock><button class="button btn-primary" (click)="save()">Save</button></ng-template>
